<div class="page-header">
    <h2>{{pageTitle}}</h2>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div *ngIf="error" class="danger">
    <h4>{{errorMessage}}</h4>
</div>

<div class="form-group">
    
</div>

<div class="form-group">
    <div class="row" [formGroup]="petForm">
        <label class="col-md-1 control-label" for="petTypes">Pet Type</label>
        <div class="col-md-3">
            <select id="petTypes" class="form-control" formControlName="petType" (change)="getData()">
                <option *ngFor="let p of petTypes" value="{{p}}">{{p}}</option>
            </select>
        </div>
    </div>
</div>

<div>
    <h2>Owner Gender</h2>

    <div class="form-group">
        <h3>Male</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let pet of petsForMaleOwner">{{pet}}</li>
        </ul>
        <div *ngIf="!petsForMaleOwner || petsForMaleOwner.length == 0">
            <h4 class="info">No Pet Found</h4>
        </div>
    </div>
    <div class="form-group">
        <h3>Female</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let pet of petsForFemaleOwner">{{pet}}</li>
        </ul>
        <div *ngIf="!petsForFemaleOwner || petsForFemaleOwner.length == 0">
            <h4 class="info">No Pet Found</h4>
        </div>
    </div>

</div>


